<ion-view title="Projects" id="page3">
  <ion-content padding="true" class="has-header">
    <h3 id="projects-heading1" style="color:#000000;text-align:center;">My HNG Projects</h3>
    <ion-list id="projects-list2">
      <ion-item class="item-icon-left item-icon-right balanced" id="projects-list-item2" href-inappbrowser="https://github.com/reedahkh/HNG">
        <i class="icon ion-social-github"></i>
        <span class="item-note">Stage1</span>
        <i class="icon ion-android-done"></i>
      </ion-item>
      <ion-item class="item-icon-left item-icon-right balanced" id="projects-list-item3" href-inappbrowser="https://github.com/hnginterns/hngfun/commit/af373b365b7983cabe196bb14a5a52c2126e2864">
        <i class="icon ion-social-github"></i>
        <span class="item-note">Stage2</span>
        <i class="icon ion-android-done"></i>
      </ion-item>
      <ion-item class="item-icon-left item-icon-right balanced" id="projects-list-item4" href-inappbrowser="http://hng.fun/profile/farida/farida.html">
        <i class="icon ion-link"></i>
        <span class="item-note">Stage3</span>
        <i class="icon ion-android-done"></i>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>